body{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: rgba(122, 122, 122, 0.95);
  width: 100%;
}

.dragmovable{
  -webkit-app-region: drag;
}

.nodragmovable{
  -webkit-app-region: no-drag;
}

#header h1{
  font-size: 50px;
}

#menu{
  padding: 0;
  margin: 0;
  background: black;
  width: 100%;
}

#menu ul{
  width: 100%;
  padding: 0;
  font-size: 0px;
}

#menu ul li{
  color: white;
  font-size: 25px;
  margin: 0;
  text-align: center;
  padding: 5px;
  border-right: 1px solid rgb(80, 80, 80);
  display: inline-block;
  width: 50%;
}

#menu ul li:hover{
  opacity: 0.5;
  background: rgb(120, 120, 120);
  color: white;
}

#content{
  margin: 0;
  padding: 0;
  width: 100%;
}

#home{
  display: none;
}

#urlListArea{
  height: 60%;
  overflow: scroll;
}

#urlList{
  font-size: 30px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: left;
}

#urlList thead{
  border-radius: 10px;
}

.requestButton:hover{
  opacity: 0.5;
  cursor: pointer;
}

#consoleArea{
  width: 80%;
  height: 23%;
  margin: auto;
  background: black;
  color: white;
}

#add{
  display: none;
  width: 80%;
  margin: auto;
}

.registerForm{
  margin-bottom: 3vh;
}

.form-control{
  width: 40%;
}