include ../_header.pug
  div#header
    h1 RSender
  div#menu
    ul
      li#menu_home Home
      li#menu_add Add
  div#content
    div#home
      div#urlListArea
        table#urlList.table
          thead.thead-dark 
            tr
              th.row-6 Label
              th.row-6 Url
          tbody
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
            tr.requestButton
              td テスト
              td http://hogehoge.com
      input#consoleArea.form-control(type="text" disabled)
    div#add
      div.registerForm
        span Label: 
        input#registerLabel.form-control(type="text")
      div.registerForm
        span url: 
        input#registerUrl.form-control(type="text")
      br
      input#registerButton.btn.btn-primary(type="button" value="登録")