include ../_header.pug
  div#header
    h1 RSender
  div#menu
    ul
      li#menu_home Home
      li#menu_add Add
  div#content
    div#home
      table#urlListHeader.table.table-dark
          thead
            tr
              th(width="26%") Label
              th Url
              th
                div#deleteSwitch -
      div#urlListArea
        table#urlList.table
          tbody
      textarea#consoleArea.form-control(type="text" disabled)
    div#add
      div.registerForm
        span Label: 
        input#registerLabel.form-control(type="text")
      div.registerForm 
        span url: 
        input#registerUrl.form-control(type="text")
      br
      input#registerButton.btn.btn-primary(type="button" value="登録")