include ../_header.pug
  div#header
    h1 RSender
  div#menu
    ul
      li#menu_home Home
      li#menu_add Add
  div#content
    div#home
      p hoge
    div#add
      div.registerForm
        span Label: 
        input#registerLabel.form-control(type="text")
      div.registerForm
        span url: 
        input#registerUrl.form-control(type="text")
      br
      input#registerButton.btn.btn-primary(type="button" value="登録")